<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssoo.Login.service.impl.LoginMapper">
	
	<select id="signin" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call 로그인_체크(
			#{ID},
			#{PW}			
		) }
	</select>
	
	<!-- ID 중복체크 -->
	
	<!-- 회원가입 -->
	<select id="signup" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
		{ call 회원가입(
			#{ID},
			#{PW},
			#{NAME},
			#{NICK},
			#{TEL},
			#{EMAIL},
			#{ADDR},
			#{PERPOSE},
			#{CONTACT}
		) }
	</select>
	
	<!-- ID 중복체크 -->
	<select id="id_chk" parameterType="hashmap" resultType="hashmap">
		{ call ID중복체크(
			#{ID}		
		) }
	</select>
	
	<!-- ID 찾기 -->
	<select id="find_id" parameterType="hashmap" resultType="hashmap">
		{ call ID찾기(
			#{NAME},
			#{EMAIL}		
		) }
	</select>
	
	<!-- PW 찾기 -->
	<select id="find_pw" parameterType="hashmap" resultType="hashmap">
		{ call PW찾기(
			#{ID},
			#{NAME},
			#{EMAIL}		
		) }
	</select>
</mapper>